MedicaBE/MedicaBE/bin/
MedicaBE/MedicaBE/obj/
MedicaBE/MedicaBE.Repository/bin/
MedicaBE/MedicaBE.Repository/obj/
MedicaBE/MedicaBE.Entities/bin/
MedicaBE/MedicaBE.Entities/obj/
/MedicaBE/MedicaBE.Entities/MedicaBE.Entities.csproj.user
/MedicaBE/MedicaBE.Repository/MedicaBE.Repository.csproj.user
/MedicaBE/.vs/MedicaBE/v17/.suo
/MedicaBE/.vs/MedicaBE/project-colors.json
/MedicaBE/UpgradeLog.htm
