MedicaBE/MedicaBE/bin/
MedicaBE/MedicaBE/obj/
MedicaBE/MedicaBE.Repository/bin/
MedicaBE/MedicaBE.Repository/obj/
MedicaBE/MedicaBE.Entities/bin/
MedicaBE/MedicaBE.Entities/obj/
/.vs/Projects/v17/.suo
/.vs/Projects/project-colors.json
/.vs/ProjectSettings.json
*.sqlite
/.vs/VSWorkspaceState.json
/MedicaBE/.vs/MedicaBE/config/applicationhost.config
/MedicaBE/.vs/MedicaBE/DesignTimeBuild/.dtbcache.v2
/MedicaBE/.vs/MedicaBE/v17/.futdcache.v1
/MedicaBE/.vs/MedicaBE/v17/.suo
/MedicaBE/.vs/MedicaBE/project-colors.json
